@use 'variables.scss' as *;

:root{
    font-size: 87.5%;
    font-family: $mainFont;
    color: $fontColor;
}
*,*::before, *::after{
    box-sizing: inherit;
}
html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

body > header{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    background-color: $primaryColor;

    a{
        text-decoration: none;

        @media (min-width: $laptopBreakPoint) {
            transform: translateY(0);
            transition: all 0.3s ease-in-out;
        }
    
        &:hover {
          @media (min-width: $laptopBreakPoint) {
            text-decoration: underline;
            transform: translateY(0.25em);
            transition: all 0.3s ease-in-out;
          }
    
        }
    }

   nav{
    button{
        background-color: transparent;
        border: none;

        @media (min-width: $laptopBreakPoint){
            display: none;
        }
    }

    ul{
        display: none;
        padding: 0;
        margin: 10px 0px 0px 0px;
        list-style: none;

        @media (min-width: $laptopBreakPoint){
            display: flex;
            flex-direction: row;
        }
        &.active{
            display: flex;
            flex-direction: column;
            position: absolute;
            left: 0;
            width: 100%;
            background-color: rgb(46, 46, 46, 95%);

            a{
                height: 48px;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                color: $primaryColor;
                font-size: larger;
                padding: 10px;
            }
        }
    }

    li{
        @media (min-width: $laptopBreakPoint){
            padding: 10px;
        }
    }
   }
}