@use 'variables.scss' as *;

.bio{
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (min-width: $laptopBreakPoint){
        display: grid;
        grid-template-columns: repeat(2,1fr);    
    }

    &__left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p{
            margin: 0;
        }
        @media (min-width: $laptopBreakPoint){
            grid-column: 1;
            grid-row: 1/2;
        }
    }
    &__right{
        display: flex;
        flex-direction: column;
        h1{
            align-self: center;
        }
        p{
            margin: 14px 20px;
        }
        @media (min-width: $laptopBreakPoint){
            grid-column: 2;
            grid-row: 1;
        }
    }
    &__cv{
        margin: 15px;
        @media (min-width: $laptopBreakPoint){
            display: none;   
        }
    }
    &__cvBTN{
        display: none;
        @media (min-width: $laptopBreakPoint){
            display: flex;
            justify-content: flex-end;
            grid-column: 2;
            grid-row: 2;
            margin-right: 15px;
            text-decoration: none;

            button{
                border-radius: 15px;
                background: $secondaryColor;
                background-image: linear-gradient(
                -60deg,
                transparent, transparent 40%,
                #ffffff44 40%, #ffffff44 60%,
                transparent 60%, transparent 100%
                );
                background-size: 200% 100%;
                background-repeat: no-repeat;
                background-position-x: 150%;
                color: $fontColor;
                padding: 10px;

                &:hover{
                    background-position-x: -150%;
                    transition: background-position-x 600ms;
                }
            }
        }
    }
}